@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 82.5%;
}

body {
    background: rgb(3, 0, 31);
    color: rgb(214, 212, 212);
    font-family: 'Poppins', sans-serif;
}